
.container
{
    position: absolute;
    top: 40%;
    left: 50%;
}

ul li
{
    display: inline;
    text-align: center;
}

a{
    display: inline-block;
    width: 25%;
    padding: auto;
    margin: 64px 0;
    text-decoration: none;
    color: #333;
}